.video_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

@media (max-width: 850px) {
  .video_grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1300px) {
  .video_grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1700px) {
  .video_grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.thumbnail_image {
  border: white solid 1px;
  border-radius: 4px;
  width: 100%;
}

.thumbnail_row {
  position: relative;
}

.video_preview {
  vertical-align: top;
  display: inline-block;
  transition: box-shadow 0.2s ease;
}

.video_preview:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(171, 171, 171, 0.2);
  border-radius: 12px;
}

.video_profile_image {
  width: 100%;
  border-radius: 24px;
}

.video_about_grid {
  display: grid;
  grid-template-columns: 45px 1fr;
  column-gap: 12px;
  padding: 12px;
}

.video_title {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 10px;
}

.video_author,
.video_stats {
  font-size: 12px;
  color: #cbcbcb;
}

.video_author {
  margin-bottom: 5px;
}

.video_duration {
  position: absolute;
  bottom: 8px;
  right: 4px;
  background-color: rgb(27, 27, 27);
  color: white;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 4px;
}

@media (max-width: 650px) {
  .video_title {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines */
    line-clamp: 2; /* Standard property for compatibility */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .video_author,
  .video_stats {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .video_about_grid {
    grid-template-columns: 0px 1fr;
    padding: 5px;
  }
  .video_profile_image {
    width: 0%;
  }
}
