p {
  font-size: 12px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
}

body {
  margin: 0px;
  padding-top: 93px;
  padding-left: 123px;
  padding-right: 25px;
  background-color: blue;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 1250px) {
  body {
    padding-left: 230px;
  }
}
